<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>TV Show {{ id }}</h1>
            </div>
            <div class="col-md-4 text-right">
                <a href="/">Go Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Title: {{ title }}</p>
                <p>Network: {{ network }}</p>
                <p>Release Date: {{ release_date | date:"F j, Y" }}</p>
                <p>Description: {{ description }}</p>

                <p>Last Updated: {{ last_update | date:"F j, Y" }}</p>
                <p>
                    <a href="{{ id }}/edit">Edit</a> | <a href="{{ id }}/destroy">Delete</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>